html, body, #wrapper, #page-wrapper
{
    height: 100%;
}

.composite-input {
    position: relative;
}

.clearable {
    padding-right: 24px;
}

.composite-input .clear {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 2;
}

.input-group .composite-input:not(:first-child) .form-control {
    border-radius: 0px 4px 4px 0px;
}

#main .flex {
    display: -webkit-flex; /*safari*/
    display: flex;
    -webkit-flex-flow: row wrap; /*safari*/
    flex-flow: row wrap;
    -webkit-justify-content: center; /*safari*/
    justify-content: center;
}

#main .flex > div {
    -webkit-flex: 0 1 auto; /*safari*/
    flex: 0 1 auto;
    margin: 0 15px 15px 0;
}

#main .flex > .center {
    -webkit-flex: 1 1 250px; /*safari*/
    flex: 1 1 250px;
}