<div class="btn-group" data-toggle="buttons-radio">
    <button type="button" id="stream" class="btn active chartType">Streamgraphs</button>
    <button type="button" id="stack" class="btn chartType">Stacked Area</button>
    <button type="button" id="area" class="btn chartType">Area</button>
</div>
<div class="btn-group" data-toggle="buttons-radio">
    <button type="button" id="day" class="btn active timeRange">Day</button>
    <button type="button" id="week" class="btn timeRange">Week</button>
    <button type="button" id="month" class="btn timeRange">Month</button>
</div>
<div id="vis"></div>
<div id="legend"></div>